.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: var(--almost-white);
  max-width: 375px;
  width: 97%;
}

.login__label {
  display: block;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signup__label-text,
.login__label-text {
  font-weight: 600;
  width: 100px;
  text-align: right;
}

.signup__label-text {
  width: 150px;
}

.login__input {
  width: 200px;
  margin-left: 5px;
}

.login__button {
  background-color: var(--light-grey);
  border: 1px solid var(--darker-grey);
  color: var(--very-dark-grey);
  border-radius: 4px;
  width: 80px;
  margin: 5px;
  font-weight: 600;
}

.login__button:hover {
  background-color: var(--main-colour);
  border: 1px solid var(--main-colour);
  color: var(--light-grey);
}

.login__signup__link {
  color: var(--off-colour);
}

.login__signup {
  display: flex;
  flex-direction: column;
}