.logout {
  width: 200px;
  height: 150px;
  background-color: var(--almost-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}
