.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background-color: grey;
  height: 100px;
}

.music-player__left {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.music-player__cover-art {
  aspect-ratio: 1;
  height: 80%;
}

.music-player__info {
  display: inline-block;
  padding-left: 5px;
}

.music-player__center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.music-player__progress-bar {
  width: 100%;
}

.music-player__center__under {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


