.playlist {
  position: absolute;
  bottom: var(--navbar-height);
  right: 0;
  width: 250px;
  max-height: 400px;
  background-color: var(--almost-white);
  border: 1px solid var(--darker-grey);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.playlist__song {
  display: flex;
  border: 1px solid var(--dark-grey);
}

.play__song-active {
  background-color: var(--dark-grey);
}

.playlist__song-artist,
.playlist__song-name {
  display: block;
  float: left;
  font-size: 0.8rem;
  width: 150px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist__song-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist__song-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playlist__song-cover-art {
  aspect-ratio: 1;
  width: 30px;
  margin-right: 2px;
}

.playlist__play-now,
.playlist__remove {
  font-size: 0.7rem;
  cursor: pointer;
  height: 40px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-left: 1px solid var(--light-grey);
  background-color: var(--dark-grey);
  border-radius: 0px;
}

.playlist__remove {
  font-size: 1.5rem;
  font-weight: 700;
}

.playlist__play-now > img {
  aspect-ratio: 1;
  height: 50%;
}

.playlist__remove:hover {
  background-color: red;
  color: var(--almost-white);
}

.playlist__play-now:hover {
  background-color: green;
  color: var(--almost-white);
}

.playlist__play-now:hover > img {
  filter: invert();
}
