.playlist {
  position: absolute;
  bottom: var(--navbar-height);
  right: 0;
  width: 250px;
  max-height: 400px;
  background-color: var(--almost-white);
  border: 1px solid var(--darker-grey);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.playlist__song {
  display: flex;
  border: 1px solid var(--dark-grey);
}

.play__song-active {
  background-color: var(--dark-grey);
}

.playlist__song-artist,
.playlist__song-name {
  display: block;
  float: left;
  font-size: 0.8rem;
  width: 150px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist__song-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist__song-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playlist__song-cover-art {
  aspect-ratio: 1;
  width: 30px;
  margin-right: 2px;
}

.playlist__song-button {
  font-size: 0.7rem;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
