.profile__header {
  width: 95%;
  max-width: 1000px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.profile__header__heading {
  font-size: 3rem;
  font-family: "Major Mono Display", monospace;
}

.profile__header__button {
  background-color: var(--dark-grey);
  border: 2px solid var(--almost-black);
  color: var(--almost-black);
  cursor: pointer;
  font-weight: 700;
  margin: 0 2px;
}

.profile__header__button:hover {
  background-color: var(--almost-black);
  color: var(--almost-white);
}

.profile__edit {
  border: none;
  border-radius: 3px;
  background-color: var(--main-colour);
  color: white;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.profile__edit:hover {
  background-color: var(--off-colour);
}
