.please-signup {
    margin:50px;
    margin-bottom: 10px; 
}
.form-fields{
    display:flex;
    flex-direction: column;
}
.form-field{
    margin-right: 250px;
}
.form-h4{
    display: inline-block;
    width:240px;
    text-align: right;
    margin:10px
    }
.already-have-an-account{
    display:flex;
    flex-direction: column;
}
.navbar-links-item-signup {
    text-decoration: underline;
    color:var(--off-colour);
}