* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
  font-family: Anonymous-Pro, Arial, Helvetica, sans-serif;
}

:root {
  --main-colour: rgb(177, 51, 177);
  --off-colour: rgb(88, 7, 88);
  --almost-black: rgb(7, 7, 7);
  --almost-white: rgb(245, 245, 245);
  --light-grey: rgb(175, 175, 175);
  --dark-grey: rgb(80, 80, 80);
}

h1 {
  color: inherit;
}

a {
  color: inherit;
}
